
h1{
    border: 0cqmax;
    font-size: xx-large;
    color:blue;
    padding: 20px 40px;
    background-color: coral;
}
h2{
    color:rgb(0, 255, 255);
    padding: 20px 40px;
    background-color: coral;
}
p{
    color: aqua;
    background-color: coral;
    padding: 20px 40px;
}
